

/* CARD */
.card{
    color: #000;
    text-decoration: none;
    border: none;
    width: 325px;
    height: 300px;
    margin:0.2%;
    padding: 0px;
    display: inline-flex;
    border-radius: 30px;
    position:relative;
} 

div.explore-bg{
    width: 325px;
    height: 300px;
    margin:0.2%;
    padding: 0px;
    text-align: left;
    display: inline-flex;
    border-radius: 30px;
    position:absolute;
    z-index: 1;
}

   
.explore-col-1{
    background:rgba(255, 255, 255, 0.1);                     
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    box-shadow:0 10px 30px 20px rgba(0, 0,0, 0.7);
    margin: 5%;
    cursor: pointer;
    transition: transfrom .5px;
    text-align: center;
}


.explore-col-1:hover{
    transform: translateY(-10px);
    box-shadow:0 10px 20px 5px #dcb57a ;
    border: solid 1px #efeded;
    color: #421b1b;
}


.line{
    /* padding: ; */
    background-color:#ffffff;
    width: 100%;
    height: 0.5px;
    margin-top: 10px;
    margin-bottom: 5px;
}


.explore-col-1 img{
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background-color: transparent;
    z-index: 5;
    transform: scale(1.05);
    border: #000000 ;
    box-shadow:0 10px 30px 20px rgba(197, 84, 207, 0.7);
    /* #242131
    #9487ff
    #dfe3ff
    #463e67 */
}

.buttons{
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: space-around
}


.play-button,.button-connect{
    border: none;
    width: 120px;
    height: 38px;
    background: linear-gradient(to left, #e6b87c, #dcb57a);
    color: #000000;
    font-weight: bold;
    text-shadow: 1px 1px 2px #ffffff;
    padding: 2%;
    margin-right: 5%;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-align: center;
    z-index: 5;
  }
 
  /* .play-button:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
  } */
  
  .play-button:active {
    transform: translateY(2px);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);
  }
 
 



















